<%= simple_form_for @job do |form| %>
<h1 class="text-center">EDITING POST</h1>
  <%= form.input :company, label: "company", input_html: {class: 'form-control'} %>
  <%= form.input :title, label: "job title", input_html: {class: 'form-control'} %>
  <%= form.input :url, label: "link to job", input_html: {class: 'form-control'} %>
  <%= form.input :location, label: "location of the job", input_html: {class: 'form-control'} %>
  <%= form.button :submit, "UPDATE JOB", class: "btn btn-custom btn-block" %>
<% end %>
<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
