<%= simple_form_for @job, html: {class: "form-signin"} do |form| %>
<h2 class="text-center">POST A JOB</h2>
  <%= form.input :company, label: "company", placeholder: "company", input_html: {class: 'form-control'} %>
  <%= form.input :title, label: "job title", placeholder: "job title", input_html: {class: 'form-control'} %>
  <%= form.input :url, label: "link to job", placeholder: "link to job", input_html: {class: 'form-control'} %>
  <%= form.input :location, label: "location of the job", placeholder: "location of the job", input_html: {class: 'form-control'} %>
  <%= form.button :submit, "CREATE JOB", class: "btn btn-custom btn-block" %>
<% end %>
