<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Jobs.dev</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet">
	<link href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css" media="screen" rel="stylesheet" />
  <link href="jumbotron.css" rel="stylesheet">
</head>
<body>

<%= render 'layouts/header' %>
<div class="jumbotron">
	<div class="container">
		<%= yield %>
	</div>
</div>
<%= render 'layouts/footer' %>

</body>
</html>